body{
  font-family: 'Roboto', sans-serif;
}



header{
   background-color: #2a1000;
   padding-top: 25px;
}

.social-header{
  margin-top: 12px;
}

.social-header a{
  color: #fff;
}

.social-header a:hover{
  text-decoration: none;
}

.social-header a .fa-inverse{
  color: #2a1000;
}

.menu-bar{
  background-color: #ffbb00;
  margin-top: 20px;
  padding: 10px 0 0 0;
}

.menu-bar a{
  color:#2a1000;
  font-size: 16px;
  font-weight: 500;
}

.menu-bar a:hover{
  text-decoration: none;
  color: #fff;
}

.menu-list{
  padding: 10px 0;
  margin-bottom: 0;
}

.menu-list li:not(:last-child){
  margin-right: 40px;
}

/*carousel*/

#slider-home{
  margin-bottom: 50px;
}
.carousel-caption{
  background-color: rgba(41,23,1,0.75);
  height: 100%;
  left: 0;
  top: 0;
  padding: 30px 45px;
  text-align: left;
  width: 340px;
}

/*carousel*/
